@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #003349;
  --primaryDark: #002b3e;
  --secondary: #ff262f;
  --secondaryDark: #ff4c48;
  --text: #010101;
  --lighterText: #8a8a94;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply lg:px-[70px] px-5 mx-auto;
}

.user-avatar {
  @apply rounded-[50%] object-cover h-[60px] max-w-[60px] border-4 border-white absolute shadow-md;
}

/* swiper */
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--primary) !important;
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  font-weight: 900;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
}
